<div>
Hi {{name}} , <br/>
Your Moodle account password at <b> </b> has been reset by Admin
Your current login information is now:

<br/><br/>
Username: {{username}} <br/>
Password: {{password}} <br/><br/>
URL: {{URL}}



</div>